.grid {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__row {
      display: flex;
    }
    &__label {
      display: flex;
      align-items: center;
      flex: 1;
      color: white;
    }
  }
  &__timeLabel {
    padding: 10px;
  }
  &__bombLabel {
    padding: 10px;
  }
}
